body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    background: #f8f8f8;
    color: #333;
}

.section {
    margin-top: 100px;
}

.hidden {
    display: none;
}

/* Buttons */
button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Photos */
.photo {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* Cake */
.cake {
    font-size: 60px;
    position: relative;
}

/* Simple candle */
.candle {
    width: 6px;
    height: 20px;
    background: black;
    margin: auto;
    position: relative;
}

.candle::after {
    content: "";
    width: 6px;
    height: 10px;
    background: orange;
    display: block;
    margin: auto;
    border-radius: 50%;
}